<a href="https://colab.research.google.com/github/kaihanau/Customer_Segmentation---TravelTide/blob/main/TravelTide.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlalchemy as sa

In [ ]:
traveltide = 'postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide'

In [ ]:
engine = sa.create_engine(traveltide)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

In [ ]:
inspector = sa.inspect(engine)
table_names = inspector.get_table_names()
table_names

['users', 'hotels', 'flights', 'sessions']

# Users

In [ ]:
users_query = """select * from users"""

In [ ]:
users = pd.read_sql(sa.text(users_query),connection)
users.head(100)

,user_id,birthdate,gender,married,has_children,home_country,home_city,home_airport,home_airport_lat,home_airport_lon,sign_up_date
0,404877,2000-01-20,F,False,False,usa,new york,LGA,40.777,-73.872,2022-11-10
1,404878,1990-03-22,M,False,False,usa,los angeles,LAX,33.942,-118.408,2022-11-10
2,404879,1985-06-18,F,True,False,usa,newark,EWR,40.692,-74.169,2022-11-10
3,404880,1982-05-22,F,True,True,canada,toronto,YKZ,43.862,-79.370,2022-11-10
4,404881,1961-08-26,F,False,False,usa,new york,LGA,40.777,-73.872,2022-11-10
...,...,...,...,...,...,...,...,...,...,...,...
95,404972,1996-08-03,M,False,False,usa,tulsa,TUL,36.198,-95.888,2022-11-10
96,404973,1988-06-22,F,False,False,usa,houston,EFD,29.607,-95.159,2022-11-10
97,404974,2003-03-01,M,False,True,usa,tucson,TUS,32.116,-110.941,2022-11-10
98,404975,1974-06-11,F,False,False,canada,winnipeg,YAV,50.056,-97.032,2022-11-10
99,404976,1970-03-24,M,True,True,canada,vancouver,YVR,49.195,-123.182,2022-11-10

In [ ]:
users

,user_id,birthdate,gender,married,has_children,home_country,home_city,home_airport,home_airport_lat,home_airport_lon,sign_up_date
0,404877,2000-01-20,F,False,False,usa,new york,LGA,40.777,-73.872,2022-11-10
1,404878,1990-03-22,M,False,False,usa,los angeles,LAX,33.942,-118.408,2022-11-10
2,404879,1985-06-18,F,True,False,usa,newark,EWR,40.692,-74.169,2022-11-10
3,404880,1982-05-22,F,True,True,canada,toronto,YKZ,43.862,-79.370,2022-11-10
4,404881,1961-08-26,F,False,False,usa,new york,LGA,40.777,-73.872,2022-11-10
...,...,...,...,...,...,...,...,...,...,...,...
1020921,404872,1991-09-26,F,False,False,canada,vancouver,YVR,49.195,-123.182,2022-11-10
1020922,404873,1956-10-04,M,True,False,usa,fayetteville,POB,35.171,-79.014,2022-11-10
1020923,404874,1978-12-18,M,False,False,usa,oklahoma city,TIK,35.415,-97.386,2022-11-10
1020924,404875,1969-05-20,M,True,False,usa,fort worth,FTW,32.820,-97.362,2022-11-10
1020925,404876,1964-10-13,F,True,True,canada,ottawa,YOW,45.323,-75.669,2022-11-10

# Hotels

In [ ]:
hotels_query = """select * from hotels"""

In [ ]:
hotels = pd.read_sql(sa.text(hotels_query),connection)
hotels

,trip_id,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_per_room_usd
0,412474-c45f777ebc2b4899aaf470712d5d6653,Extended Stay - montreal,12,1,2023-03-15 13:39:37.575,2023-03-28 11:00:00,75.0
1,412480-48429ddbc6744137ac59447ab9839816,Four Seasons - new york,16,1,2023-03-12 11:00:00.000,2023-03-28 11:00:00,255.0
2,412486-56ce9f25d5094589af66858674cde551,Four Seasons - ho chi minh city,9,1,2023-09-21 07:58:07.365,2023-09-30 11:00:00,333.0
3,412586-960cd3491c0049738f730c538b197cce,Banyan Tree - san francisco,6,1,2023-03-13 11:00:00.000,2023-03-19 11:00:00,213.0
4,412791-b2323b64fb7a4fc6901f5cd794fbb956,Accor - calgary,2,3,2023-03-12 18:31:47.415,2023-03-15 11:00:00,254.0
...,...,...,...,...,...,...,...
1918612,411378-0210065f97404ffd870d5291a2855db7,Marriott - new york,1,1,2023-03-14 16:57:17.775,2023-03-16 11:00:00,204.0
1918613,411823-b32f94b2d28e4c85b8af5f82022c3b6d,Hyatt - new york,0,1,2023-03-19 09:49:58.035,2023-03-19 11:00:00,92.0
1918614,411847-a10368f164bf40809e1913e932ee5e23,Banyan Tree - new york,3,2,2023-03-18 13:54:35.865,2023-03-22 11:00:00,190.0
1918615,411866-b29ad458588e48759fe755a01ba057da,Extended Stay - ho chi minh city,10,1,2023-09-22 16:16:55.065,2023-10-03 11:00:00,115.0
1918616,412307-176567a9f5ed454f8084de979c8f586e,Conrad - hamilton,1,1,2023-03-14 16:05:00.015,2023-03-16 11:00:00,213.0

# Flights

In [ ]:
flights_query = """select * from flights"""

In [ ]:
flights = pd.read_sql(sa.text(flights_query),connection)
flights

,trip_id,origin_airport,destination,destination_airport,seats,return_flight_booked,departure_time,return_time,checked_bags,trip_airline,destination_airport_lat,destination_airport_lon,base_fare_usd
0,781336-20575bc76fed467bb9f06d350bc3dbe6,LGA,hamilton,HLZ,1,True,2023-05-25 16:00:00,2023-05-30 16:00:00,0,Air New Zealand,43.173,-79.935,110.35
1,781462-fb88222523d044ec8a44c807f08303d3,PNE,quebec,YQB,1,True,2023-05-26 09:00:00,2023-05-27 09:00:00,0,Air Canada,46.788,-71.398,140.72
2,781539-c7135dc2279142649cfd770bcb660ed8,CRP,new york,LGA,2,False,2023-05-25 11:00:00,NaT,0,Delta Air Lines,40.640,-73.779,461.43
3,781646-37351e6c9d72446fb4a8052923d37213,YUL,winnipeg,YWG,1,True,2023-05-19 14:00:00,2023-05-22 14:00:00,1,Bearskin Lake Air Service,50.056,-97.032,327.44
4,781697-a2efb05a0eda46489eac615786a03daf,JFK,chicago,ORD,2,True,2023-05-26 07:00:00,2023-05-29 07:00:00,0,Air Canada,41.786,-87.752,386.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1901033,781070-386a1c374f0747f6861f35375d716e94,SAN,fort worth,FTW,1,True,2023-05-27 10:00:00,2023-05-31 10:00:00,0,Delta Air Lines,32.820,-97.362,364.19
1901034,781101-c393f70845044422ba831b9f5e4916b7,ORL,jacksonville,LRF,1,True,2023-05-24 12:00:00,2023-05-27 12:00:00,1,American Airlines,30.494,-81.688,39.01
1901035,781198-ed7fd61f4f034da9b8c026edd891e9e7,LCK,edmonton,YEG,3,True,2023-05-26 15:00:00,2023-05-31 15:00:00,1,Air North Charter - Canada,53.667,-113.467,1311.48
1901036,781283-04d48f46c2f64d8cae86f85d789d097b,EFD,los angeles,LSQ,2,True,2023-05-23 12:00:00,2023-05-24 12:00:00,1,Delta Air Lines,33.942,-118.408,846.77
1901037,781323-9eccf2117d2441c58aef8c1e82abf56a,BOS,portland,PDX,1,True,2023-05-28 15:00:00,2023-06-03 15:00:00,1,American Airlines,45.589,-122.597,698.17

# Sessions

In [ ]:
sessions_query = """select * from sessions"""

In [ ]:
sessions = pd.read_sql(sa.text(sessions_query),connection)
sessions

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,hotel_booked,page_clicks,cancellation
0,423759-c1b7a0b42ef749859ae2db21630e22bd,423759,None,2022-11-24 21:08:00,2022-11-24 21:11:31,False,False,NaN,NaN,False,False,29,False
1,423764-8c0cf93c60dd460b82dc969511b3371d,423764,423764-1ff99b1faab74a8182d94a0780bd9e51,2022-11-24 08:00:00,2022-11-24 08:01:23,False,False,NaN,NaN,False,True,11,False
2,423766-9661a8768ef643bda5dd017ed1775556,423766,423766-9fc13f45899741e8863f1d2730f6c675,2022-11-24 04:56:00,2022-11-24 04:57:21,False,False,NaN,NaN,True,False,11,False
3,423834-46a410764c3d46e88b15f3e5f7c6f8be,423834,None,2022-11-24 12:47:00,2022-11-24 12:47:36,True,False,0.1,NaN,False,False,5,False
4,423836-1e0ccd6080b6402bac5576a8a163e101,423836,None,2022-11-24 19:18:00,2022-11-24 19:19:30,False,False,NaN,NaN,False,False,12,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5408058,423710-31facb0736e04f3f8f553d5f1ccfafe5,423710,None,2022-11-24 06:41:00,2022-11-24 06:42:22,False,False,NaN,NaN,False,False,11,False
5408059,423727-271be477f0284a20922b6de28cffd201,423727,None,2022-11-24 10:31:00,2022-11-24 10:31:43,False,False,NaN,NaN,False,False,6,False
5408060,423737-0c28ea95ff3446449dd285069b7c2184,423737,None,2022-11-24 19:53:00,2022-11-24 19:53:55,False,False,NaN,NaN,False,False,7,False
5408061,423740-f14e91b326a949a8b26ab753a044d1d9,423740,423740-87b68999ec0c494daa8598a14011625c,2022-11-24 20:22:00,2022-11-24 20:25:06,True,True,0.1,0.10,True,True,25,False
5408062,423751-837b532b98b44d03ab9a88781af6c4fd,423751,423751-70adf92139004604b3373620543edefd,2022-11-24 18:55:00,2022-11-24 18:57:15,False,True,NaN,0.15,True,True,18,False

In [ ]:
### base table after joining and filtering

base_sessions_query = """
with sessions_in_timeframe as (
select
      s.*,
       (extract(epoch from s.session_end) - extract(epoch from s.session_start)) session_duration,
      u.birthdate,
      u.gender,
      u.married,
      u.has_children,
      u.home_country,
      u.home_city,
      u.home_airport,
      u.home_airport_lat,
      u.home_airport_lon,
      u.sign_up_date,
      f.origin_airport,
      f.destination,
      f.destination_airport,
      f.seats,
      f.return_flight_booked,
      f.departure_time,
      f.return_time,
      f.checked_bags,
      f.trip_airline,
      f.destination_airport_lat,
      f.destination_airport_lon,
      f.base_fare_usd,
      extract(epoch from (f.departure_time - s.session_end)) time_before_travel,
      case when s.flight_discount_amount is not null then (f.base_fare_usd * (1 - s.flight_discount_amount)) else f.base_fare_usd end actual_ticket_price,
      h.hotel_name,
      case when h.nights < 0 then 1 else nights end nights,
      h.rooms,
      h.check_in_time,
      h.check_out_time,
      h.hotel_per_room_usd as hotel_per_room_night_usd,
      extract(epoch from (h.check_in_time - s.session_end)) time_before_hotel_stay,
      case when s.hotel_discount_amount is not null then (h.hotel_per_room_usd * (1 - s.hotel_discount_amount)) else h.hotel_per_room_usd end actual_hotel_per_room_usd
    from
      sessions s
      left join users u on s.user_id = u.user_id
      left join hotels h on h.trip_id = s.trip_id
      left join flights f on s.trip_id = f.trip_id
    where
      s.session_start >= '2023-01-04'
),



filtered_users as (select
      count(session_id) num_sessions,
     user_id
    from
      sessions
      where session_start > '2023-01-04'
    group by
      user_id
    having
      count(session_id) > 7)

      select
      *,
      case when (flight_discount = true or hotel_discount = true) then 1
      else 0
      end discount_aplied
    from
      sessions_in_timeframe
    where
      user_id in (
        select
          user_id
        from
          filtered_users)
"""

In [ ]:
tables_joined = pd.read_sql(sa.text(base_sessions_query),connection)
tables_joined

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,...,actual_ticket_price,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_per_room_night_usd,time_before_hotel_stay,actual_hotel_per_room_usd,discount_aplied
0,463783-86960db87675496e978d52b212658168,463783,None,2023-01-10 17:55:00,2023-01-10 17:55:38,False,False,NaN,NaN,False,...,NaN,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,0
1,375160-5e1dd9e68d35493d9d1c1451bb9484b0,375160,None,2023-01-11 13:27:00,2023-01-11 13:27:57,False,False,NaN,NaN,False,...,NaN,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,0
2,506990-bd15524bc41d4c3d908e91e25679c34d,506990,None,2023-01-11 18:56:00,2023-01-11 18:57:15,False,False,NaN,NaN,False,...,NaN,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,0
3,512848-e14d120e909e435085611ac6463b8772,512848,None,2023-01-11 18:40:00,2023-01-11 18:40:23,False,False,NaN,NaN,False,...,NaN,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,0
4,513569-01e1c2030a404fb19f7c106e66015ba3,513569,None,2023-01-11 18:37:00,2023-01-11 18:37:56,False,False,NaN,NaN,False,...,NaN,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49206,533155-62d53870063246c5b2263a49c6b38d7d,533155,533155-5a10ff84230a4e0698144c9696e4f14c,2023-03-21 16:57:00,2023-03-21 16:59:49,False,False,NaN,NaN,True,...,703.960,NH Hotel - new york,1.0,1.0,2023-03-28 15:58:03.945,2023-03-30 11:00:00,94.0,601094.945,94.0,0
49207,590103-a3057fbd93e9451cb76db15e3a3e2e59,590103,590103-318a4931f9b04619988d0f6c620a39cd,2023-05-13 17:17:00,2023-05-13 17:25:10,False,False,NaN,NaN,True,...,334.830,Starwood - seattle,2.0,1.0,2023-05-22 19:46:40.710,2023-05-25 11:00:00,187.0,786090.710,187.0,0
49208,553139-4d75fdb2aa9d47a4b4d798a0890d1b77,553139,553139-77476a52317040f8853be5d2cf35f0e2,2023-05-26 08:44:00,2023-05-26 08:48:04,True,False,0.3,NaN,True,...,680.211,Marriott - seattle,5.0,2.0,2023-05-30 18:25:57.045,2023-06-05 11:00:00,211.0,380273.045,211.0,1
49209,553943-0c049167549e4aeda1258ba7f9902b0e,553943,553943-3461819d734340ba87da8c148a25c11c,2023-06-14 14:12:00,2023-06-14 14:14:00,False,False,NaN,NaN,True,...,2022.180,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,0
49210,518416-fd45c188d94a4d30a7e4468056701f1e,518416,518416-cca5cea3fac04cdf8d069e13891f016a,2023-07-15 07:38:00,2023-07-15 07:42:04,False,False,NaN,NaN,True,...,103.010,InterContinental - san antonio,1.0,2.0,2023-07-22 15:22:38.370,2023-07-24 11:00:00,80.0,632434.370,80.0,0

In [ ]:
### Replacing negative nights with "1"

fixing_neg_nights = """
with sessions_in_timeframe as (
select
      s.*,
       (extract(epoch from s.session_end) - extract(epoch from s.session_start)) session_duration,
      u.birthdate,
      u.gender,
      u.married,
      u.has_children,
      u.home_country,
      u.home_city,
      u.home_airport,
      u.home_airport_lat,
      u.home_airport_lon,
      u.sign_up_date,
      f.origin_airport,
      f.destination,
      f.destination_airport,
      f.seats,
      f.return_flight_booked,
      f.departure_time,
      f.return_time,
      f.checked_bags,
      f.trip_airline,
      f.destination_airport_lat,
      f.destination_airport_lon,
      f.base_fare_usd,
      extract(epoch from (f.departure_time - s.session_end)) time_before_travel,
      case when s.flight_discount_amount is not null then (f.base_fare_usd * (1 - s.flight_discount_amount)) else f.base_fare_usd end actual_ticket_price,
      h.hotel_name,
      case when h.nights < 0 then 1 else nights end nights,
      h.rooms,
      h.check_in_time,
      h.check_out_time,
      h.hotel_per_room_usd as hotel_per_room_night_usd,
      extract(epoch from (h.check_in_time - s.session_end)) time_before_hotel_stay,
      case when s.hotel_discount_amount is not null then (h.hotel_per_room_usd * (1 - s.hotel_discount_amount)) else h.hotel_per_room_usd end actual_hotel_per_room_usd
    from
      sessions s
      left join users u on s.user_id = u.user_id
      left join hotels h on h.trip_id = s.trip_id
      left join flights f on s.trip_id = f.trip_id
    where
      s.session_start >= '2023-01-04'),



filtered_users as (select
      count(session_id) num_sessions,
     user_id
    from
      sessions
      where session_start > '2023-01-04'
    group by
      user_id
    having
      count(session_id) > 7)

      select
      *,
      case when (flight_discount = true or hotel_discount = true) then 1
      else 0
      end discount_aplied
    from
      sessions_in_timeframe
    where
      user_id in (
        select
          user_id
        from
          filtered_users)




      """

In [ ]:
neg_nights_fixed = pd.read_sql(sa.text(fixing_neg_nights),connection)
neg_nights_fixed

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,...,actual_ticket_price,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_per_room_night_usd,time_before_hotel_stay,actual_hotel_per_room_usd,discount_aplied
0,560195-437315c6a4d34b818e89dd9f795b501c,560195,560195-fc13ab6b2b5e4b6798cf426c78bc7bcd,2023-02-20 18:23:00,2023-02-20 18:25:07.000000,False,True,NaN,0.10,True,...,689.610,Hyatt - calgary,7.0,1.0,2023-02-27 21:59:42.585,2023-03-07 11:00:00,155.0,6.176756e+05,139.5,1
1,460553-267dd1bde2364882bc8cc4eba2997d47,460553,None,2023-01-10 19:43:00,2023-01-10 19:43:36.000000,False,False,NaN,NaN,False,...,NaN,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,0
2,547938-aa62ee06cd064137859310596da3bc8c,547938,None,2023-02-01 04:58:00,2023-02-01 04:58:44.000000,False,True,NaN,0.15,False,...,NaN,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,1
3,548490-0e23a49ad2b94f749f5cc574670aed25,548490,None,2023-02-01 23:13:00,2023-02-01 23:13:47.000000,False,False,NaN,NaN,False,...,NaN,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,0
4,551211-7daab913dbe3477a810e0e85fef99194,551211,None,2023-02-01 17:26:00,2023-02-01 17:27:27.000000,True,False,0.25,NaN,False,...,NaN,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49206,509635-1cd0b380ed6848688a828dd0ec9892b0,509635,509635-87af5c89fccf489cbb099176be9e6d11,2023-06-24 15:15:00,2023-06-24 15:17:52.000000,False,False,NaN,NaN,True,...,464.920,Best Western - boston,1.0,1.0,2023-07-04 19:24:43.830,2023-07-06 11:00:00,143.0,8.788118e+05,143.0,0
49207,578892-17d77d9aadce49cdad26d78d3c703174,578892,578892-b2dbbb439fbe4020b61584ac5f895dec,2023-06-24 18:22:00,2023-06-24 18:26:56.000000,True,False,0.25,NaN,True,...,189.870,Hyatt - vancouver,2.0,1.0,2023-07-09 10:45:40.410,2023-07-11 11:00:00,121.0,1.268324e+06,121.0,1
49208,559107-b5754d70dda14264ad9a5d2eca8ff668,559107,559107-286ff3a9e6fb421f9be00e5ae3ffab09,2023-01-28 22:31:00,2023-01-28 22:35:16.000000,True,False,0.20,NaN,True,...,202.504,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,1
49209,229009-80f2843255484dd1919e7d31f5901b0d,229009,229009-ba2187427f744c7ebf94319be37826ec,2023-03-10 18:41:00,2023-03-10 18:45:25.000000,False,False,NaN,NaN,True,...,728.400,InterContinental - new york,2.0,1.0,2023-03-24 14:03:33.570,2023-03-27 11:00:00,175.0,1.192689e+06,175.0,0
49210,530514-7f54c1498e184b8b9544fe21d9c9f8fe,530514,530514-84a33f84402b474297225a09832b3b03,2023-05-03 17:22:48,2023-05-03 17:53:48.333582,True,True,NaN,NaN,True,...,NaN,Shangri-La - montreal,4.0,1.0,2023-05-13 11:00:00.000,2023-05-17 11:00:00,57.0,8.391717e+05,57.0,1

In [ ]:
### Sessions details aggregated per user

query = """with
  sessions_in_timeframe as (
    select
      s.*,
       (extract(epoch from s.session_end) - extract(epoch from s.session_start)) session_duration,
      u.birthdate,
      u.gender,
      u.married,
      u.has_children,
      u.home_country,
      u.home_city,
      u.home_airport,
      u.home_airport_lat,
      u.home_airport_lon,
      u.sign_up_date,
      f.origin_airport,
      f.destination,
      f.destination_airport,
      f.seats,
      f.return_flight_booked,
      f.departure_time,
      f.return_time,
      f.checked_bags,
      f.trip_airline,
      f.destination_airport_lat,
      f.destination_airport_lon,
      f.base_fare_usd,
      extract(epoch from (f.departure_time - s.session_end)) time_before_travel,
      case when s.flight_discount_amount is not null then (f.base_fare_usd * (1 - s.flight_discount_amount)) else f.base_fare_usd end actual_ticket_price,
      h.hotel_name,
      case when h.nights < 0 then 1 else nights end nights,
      h.rooms,
      h.check_in_time,
      h.check_out_time,
      h.hotel_per_room_usd as hotel_per_room_night_usd,
      extract(epoch from (h.check_in_time - s.session_end)) time_before_hotel_stay,
      case when s.hotel_discount_amount is not null then (h.hotel_per_room_usd * (1 - s.hotel_discount_amount)) else h.hotel_per_room_usd end actual_hotel_per_room_usd
    from
      sessions s
      left join users u on s.user_id = u.user_id
      left join hotels h on h.trip_id = s.trip_id
      left join flights f on s.trip_id = f.trip_id
    where
      s.session_start >= '2023-01-04'
  ),
  filtered_users as (
    select
      count(session_id) num_sessions,
      user_id
    from
      sessions
    where
      session_start > '2023-01-04'
    group by
      user_id
    having
      count(session_id) > 7
  ),
  base_sessions as (
   select
      *,
      case when (flight_discount = true or hotel_discount = true) then 1
      else 0
      end discount_aplied
    from
      sessions_in_timeframe
    where
      user_id in (
        select
          user_id
        from
          filtered_users
      )
  )


select
  user_id,
  count(session_id) num_sessions,
  sum(page_clicks) num_clicks,
  avg(page_clicks) average_num_clicks,
  sum(session_duration) total_session_time,
  avg(session_duration) average_dureation,
  sum(discount_aplied) num_discounted_sessions

from
base_sessions

group by user_id


"""

In [ ]:
session_details_per_user = pd.read_sql(sa.text(query),connection)
session_details_per_user

,user_id,num_sessions,num_clicks,average_num_clicks,total_session_time,average_dureation,num_discounted_sessions
0,23557,8,82,10.250,613.000000,76.625000,2
1,94883,8,73,9.125,542.000000,67.750000,1
2,101486,8,131,16.375,978.000000,122.250000,2
3,101961,8,126,15.750,942.000000,117.750000,3
4,106907,8,240,30.000,6071.320529,758.915066,1
...,...,...,...,...,...,...,...
5993,792549,8,114,14.250,855.000000,106.875000,1
5994,796032,8,148,18.500,4362.556334,545.319542,2
5995,801660,8,115,14.375,848.000000,106.000000,3
5996,811077,8,105,13.125,793.000000,99.125000,3
5997,844489,8,99,12.375,745.000000,93.125000,2

In [ ]:
### Trips per user

query = """with
  sessions_in_timeframe as (
    select
      s.*,
       (extract(epoch from s.session_end) - extract(epoch from s.session_start)) session_duration,
      u.birthdate,
      u.gender,
      u.married,
      u.has_children,
      u.home_country,
      u.home_city,
      u.home_airport,
      u.home_airport_lat,
      u.home_airport_lon,
      u.sign_up_date,
      f.origin_airport,
      f.destination,
      f.destination_airport,
      f.seats,
      f.return_flight_booked,
      f.departure_time,
      f.return_time,
      f.checked_bags,
      f.trip_airline,
      f.destination_airport_lat,
      f.destination_airport_lon,
      f.base_fare_usd,
      extract(epoch from (f.departure_time - s.session_end)) time_before_travel,
      case when s.flight_discount_amount is not null then (f.base_fare_usd * (1 - s.flight_discount_amount)) else f.base_fare_usd end actual_ticket_price,
      h.hotel_name,
      case when h.nights < 0 then 1 else nights end nights,
      h.rooms,
      h.check_in_time,
      h.check_out_time,
      h.hotel_per_room_usd as hotel_per_room_night_usd,
      extract(epoch from (h.check_in_time - s.session_end)) time_before_hotel_stay,
      case when s.hotel_discount_amount is not null then (h.hotel_per_room_usd * (1 - s.hotel_discount_amount)) else h.hotel_per_room_usd end actual_hotel_per_room_usd
    from
      sessions s
      left join users u on s.user_id = u.user_id
      left join hotels h on h.trip_id = s.trip_id
      left join flights f on s.trip_id = f.trip_id
    where
      s.session_start >= '2023-01-04'
  ),

  filtered_users as (
    select
      count(session_id) num_sessions,
      user_id
    from
      sessions
    where
      session_start > '2023-01-04'
    group by
      user_id
    having
      count(session_id) > 7
  ),

  base_sessions as (
    select
      *,
      case when (flight_discount = true or hotel_discount = true) then 1
      else 0
      end discount_aplied
    from
      sessions_in_timeframe
    where
      user_id in (
        select
          user_id
        from
          filtered_users
      )
  ),

   cancelled_trips as ( select * from base_sessions
  where cancellation = true),

  sessions_details_per_user as
  (
  select
  user_id,
  count(session_id) num_sessions,
  sum(page_clicks) num_clicks,
  avg(page_clicks) average_num_clicks,
  sum(session_duration) total_session_time,
  avg(session_duration) average_dureation,
  sum(discount_aplied) num_discounted_sessions

from
base_sessions

group by user_id
)

select
  user_id,
  count(distinct trip_id) num_completed_trips,
  sum(discount_aplied) num_disc_trips,
  sum(discount_aplied)/count(distinct trip_id)::numeric perc_disc_trips
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
group by user_id

"""

In [ ]:
trips_per_user = pd.read_sql(sa.text(query),connection)
trips_per_user

      user_id  num_completed_trips  num_disc_trips  perc_disc_trips
0       23557                    2               1         0.500000
1       94883                    2               0         0.000000
2      101486                    2               0         0.000000
3      101961                    5               1         0.200000
4      118043                    5               3         0.600000
...       ...                  ...             ...              ...
5437   785186                    2               0         0.000000
5438   792549                    4               0         0.000000
5439   796032                    2               0         0.000000
5440   801660                    3               1         0.333333
5441   811077                    1               0         0.000000

[5442 rows x 4 columns]

In [ ]:
### Flights per user

query = """with
  sessions_in_timeframe as (
    select
      s.*,
       (extract(epoch from s.session_end) - extract(epoch from s.session_start)) session_duration,
      u.birthdate,
      u.gender,
      u.married,
      u.has_children,
      u.home_country,
      u.home_city,
      u.home_airport,
      u.home_airport_lat,
      u.home_airport_lon,
      u.sign_up_date,
      f.origin_airport,
      f.destination,
      f.destination_airport,
      f.seats,
      f.return_flight_booked,
      f.departure_time,
      f.return_time,
      f.checked_bags,
      f.trip_airline,
      f.destination_airport_lat,
      f.destination_airport_lon,
      f.base_fare_usd,
      extract(epoch from (f.departure_time - s.session_end)) time_before_travel,
      case when s.flight_discount_amount is not null then (f.base_fare_usd * (1 - s.flight_discount_amount)) else f.base_fare_usd end actual_ticket_price,
      h.hotel_name,
      case when h.nights < 0 then 1 else nights end nights,
      h.rooms,
      h.check_in_time,
      h.check_out_time,
      h.hotel_per_room_usd as hotel_per_room_night_usd,
      extract(epoch from (h.check_in_time - s.session_end)) time_before_hotel_stay,
      case when s.hotel_discount_amount is not null then (h.hotel_per_room_usd * (1 - s.hotel_discount_amount)) else h.hotel_per_room_usd end actual_hotel_per_room_usd
    from
      sessions s
      left join users u on s.user_id = u.user_id
      left join hotels h on h.trip_id = s.trip_id
      left join flights f on s.trip_id = f.trip_id
    where
      s.session_start >= '2023-01-04'
  ),

  filtered_users as (
    select
      count(session_id) num_sessions,
      user_id
    from
      sessions
    where
      session_start > '2023-01-04'
    group by
      user_id
    having
      count(session_id) > 7
  ),

  base_sessions as (
    select
      *,
      case when (flight_discount = true or hotel_discount = true) then 1
      else 0
      end discount_aplied
    from
      sessions_in_timeframe
    where
      user_id in (
        select
          user_id
        from
          filtered_users
      )
  ),

   cancelled_trips as ( select * from base_sessions
  where cancellation = true),

  sessions_details_per_user as
  (
  select
  user_id,
  count(session_id) num_sessions,
  sum(page_clicks) num_clicks,
  avg(page_clicks) average_num_clicks,
  sum(session_duration) total_session_time,
  avg(session_duration) average_dureation,
  sum(discount_aplied) num_sessions_disc

from
base_sessions

group by user_id
),

trips_per_user as
(
select
  user_id,
  count(distinct trip_id) num_completed_trips,
  sum(discount_aplied) num_disc_trips,
  sum(discount_aplied)/count(distinct trip_id)::numeric perc_disc_trips
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
group by user_id
)

select
  user_id,
  sum(actual_ticket_price * seats) total_flight_price_paid,
  avg(actual_ticket_price) avg_flight_price_paid,
  sum(seats) total_num_seats,
  avg(seats) avg_num_seats,
  avg(checked_bags) avg_num_checked_bags,
  count(actual_ticket_price) total_num_flights,
  count(flight_discount_amount) total_num_disc_flights,
  round(cast(count(flight_discount_amount)/count(actual_ticket_price)::float * 100 as numeric), 2) perc_disc_flights,
  avg(flight_discount_amount) avg_flight_discount,
  avg(time_before_travel)/(3600 * 24) avg_time_before_travel
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
and base_fare_usd is not null
group by user_id


"""

In [ ]:
flights_per_user = pd.read_sql(sa.text(query),connection)
flights_per_user

,user_id,total_flight_price_paid,avg_flight_price_paid,total_num_seats,avg_num_seats,avg_num_checked_bags,total_num_flights,total_num_disc_flights,perc_disc_flights,avg_flight_discount,avg_time_before_travel
0,94883,1487.2600,432.045000,3,1.5,0.500000,2,0,0.00,NaN,7.151759
1,101486,189.9100,189.910000,1,1.0,0.000000,1,0,0.00,NaN,9.039838
2,101961,1237.6930,247.538600,5,1.0,0.400000,5,1,20.00,0.10,6.257370
3,118043,5126.5600,779.763333,6,2.0,1.000000,3,0,0.00,NaN,9.375405
4,120851,384.6800,384.680000,1,1.0,0.000000,1,0,0.00,NaN,7.501285
...,...,...,...,...,...,...,...,...,...,...,...
5040,785186,353.3500,176.675000,2,1.0,0.000000,2,0,0.00,NaN,3.756863
5041,792549,1039.1700,259.792500,4,1.0,0.500000,4,0,0.00,NaN,5.429337
5042,796032,721.5200,360.760000,2,1.0,0.500000,2,0,0.00,NaN,7.352014
5043,801660,388.0405,129.346833,3,1.0,0.333333,3,1,33.33,0.15,6.397153
5044,811077,579.7900,579.790000,1,1.0,0.000000,1,0,0.00,NaN,10.583553

In [ ]:
### Hotels stays per user

query = """with
  sessions_in_timeframe as (
    select
      s.*,
       (extract(epoch from s.session_end) - extract(epoch from s.session_start)) session_duration,
      u.birthdate,
      u.gender,
      u.married,
      u.has_children,
      u.home_country,
      u.home_city,
      u.home_airport,
      u.home_airport_lat,
      u.home_airport_lon,
      u.sign_up_date,
      f.origin_airport,
      f.destination,
      f.destination_airport,
      f.seats,
      f.return_flight_booked,
      f.departure_time,
      f.return_time,
      f.checked_bags,
      f.trip_airline,
      f.destination_airport_lat,
      f.destination_airport_lon,
      f.base_fare_usd,
      extract(epoch from (f.departure_time - s.session_end)) time_before_travel,
      case when s.flight_discount_amount is not null then (f.base_fare_usd * (1 - s.flight_discount_amount)) else f.base_fare_usd end actual_ticket_price,
      h.hotel_name,
      case when h.nights < 0 then 1 else nights end nights,
      h.rooms,
      h.check_in_time,
      h.check_out_time,
      h.hotel_per_room_usd as hotel_per_room_night_usd,
      extract(epoch from (h.check_in_time - s.session_end)) time_before_hotel_stay,
      case when s.hotel_discount_amount is not null then (h.hotel_per_room_usd * (1 - s.hotel_discount_amount)) else h.hotel_per_room_usd end actual_hotel_per_room_usd
    from
      sessions s
      left join users u on s.user_id = u.user_id
      left join hotels h on h.trip_id = s.trip_id
      left join flights f on s.trip_id = f.trip_id
    where
      s.session_start >= '2023-01-04'
  ),

  filtered_users as (
    select
      count(session_id) num_sessions,
      user_id
    from
      sessions
    where
      session_start > '2023-01-04'
    group by
      user_id
    having
      count(session_id) > 7
  ),

  base_sessions as (
    select
      *,
      case when (flight_discount = true or hotel_discount = true) then 1
      else 0
      end discount_aplied
    from
      sessions_in_timeframe
    where
      user_id in (
        select
          user_id
        from
          filtered_users
      )
  ),

   cancelled_trips as ( select * from base_sessions
  where cancellation = true),

  sessions_details_per_user as
  (
  select
  user_id,
  count(session_id) num_sessions,
  sum(page_clicks) num_clicks,
  avg(page_clicks) average_num_clicks,
  sum(session_duration) total_session_time,
  avg(session_duration) average_dureation,
  sum(discount_aplied) num_disc_sessions

from
base_sessions

group by user_id
),

trips_per_user as
(
select
  user_id,
  count(distinct trip_id) num_completed_trips,
  sum(discount_aplied) num_disc_trips,
  sum(discount_aplied)/count(distinct trip_id)::numeric perc_disc_trips
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
group by user_id
),

flights_details_per_user as
(
select
  user_id,
  sum(actual_ticket_price * seats) total_flight_price_paid,
  avg(actual_ticket_price) avg_flight_price_paid,
  sum(seats) total_num_seats,
  avg(seats) avg_num_seats,
  avg(checked_bags) avg_num_checked_bags,
  count(actual_ticket_price) total_num_flights,
  count(flight_discount_amount) total_num_disc_flights,
  round(cast(count(flight_discount_amount)/count(actual_ticket_price)::float * 100 as numeric), 2) perc_disc_flights,
  avg(flight_discount_amount) avg_flight_discount,
  avg(time_before_travel)/(3600 * 24) avg_time_before_travel
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
and base_fare_usd is not null
group by user_id
)

select
user_id,
  sum(actual_hotel_per_room_usd * nights * rooms) total_hotel_night_paid,
  sum(nights) total_num_nights,
  sum(rooms) total_num_rooms,
  avg(nights) avg_num_nights,
  avg(rooms) avg_num_rooms,
  count(hotel_per_room_night_usd) total_num_hotel_bookings,
  count(hotel_discount_amount) total_num_disc_hotel_bookings,
  round(cast(count(hotel_discount_amount)/count(hotel_per_room_night_usd)::float * 100 as numeric), 2) perc_disc_bookings,
  avg(actual_hotel_per_room_usd) average_room_price,
  coalesce(avg(hotel_discount_amount), 0) avg_hotel_discount,
  avg(time_before_hotel_stay)/(3600 * 24) avg_time_before_hotel_stay
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
and hotel_per_room_night_usd is not null
group by user_id
order by count(hotel_discount_amount) desc
"""

In [ ]:
hotels_per_user = pd.read_sql(sa.text(query),connection)
hotels_per_user

,user_id,total_hotel_night_paid,total_num_nights,total_num_rooms,avg_num_nights,avg_num_rooms,total_num_hotel_bookings,total_num_disc_hotel_bookings,perc_disc_bookings,average_room_price,avg_hotel_discount,avg_time_before_hotel_stay
0,539637,4902.75,22,6,5.500000,1.500000,4,4,100.00,185.737500,0.137500,7.858912
1,524043,3019.10,27,7,4.500000,1.166667,6,4,66.67,123.966667,0.150000,6.610786
2,514980,6381.25,30,10,4.285714,1.428571,7,4,57.14,153.914286,0.150000,9.981924
3,380874,405.60,4,3,1.333333,1.000000,3,3,100.00,142.833333,0.183333,8.204947
4,589489,3337.40,20,6,3.333333,1.000000,6,3,50.00,157.933333,0.100000,7.240188
...,...,...,...,...,...,...,...,...,...,...,...,...
5331,532941,2248.00,14,3,4.666667,1.000000,3,0,0.00,126.666667,0.000000,4.988271
5332,532989,2588.00,13,5,2.600000,1.000000,5,0,0.00,225.600000,0.000000,9.690308
5333,533093,742.00,6,2,3.000000,1.000000,2,0,0.00,127.000000,0.000000,5.173079
5334,533117,252.00,2,1,2.000000,1.000000,1,0,0.00,126.000000,0.000000,10.559136
5335,533123,531.00,3,1,3.000000,1.000000,1,0,0.00,177.000000,0.000000,8.745310

In [ ]:
query = """
with
  sessions_in_timeframe as (
    select
      s.*,
       (extract(epoch from s.session_end) - extract(epoch from s.session_start)) session_duration,
      u.birthdate,
      u.gender,
      u.married,
      u.has_children,
      u.home_country,
      u.home_city,
      u.home_airport,
      u.home_airport_lat,
      u.home_airport_lon,
      u.sign_up_date,
      f.origin_airport,
      f.destination,
      f.destination_airport,
      f.seats,
      f.return_flight_booked,
      f.departure_time,
      f.return_time,
      f.checked_bags,
      f.trip_airline,
      f.destination_airport_lat,
      f.destination_airport_lon,
      f.base_fare_usd,
      extract(epoch from (f.departure_time - s.session_end)) time_before_travel,
      case when s.flight_discount_amount is not null then (f.base_fare_usd * (1 - s.flight_discount_amount)) else f.base_fare_usd end actual_ticket_price,
      h.hotel_name,
      case when h.nights < 0 then 1 else nights end nights,
      h.rooms,
      h.check_in_time,
      h.check_out_time,
      h.hotel_per_room_usd as hotel_per_room_night_usd,
      extract(epoch from (h.check_in_time - s.session_end)) time_before_hotel_stay,
      case when s.hotel_discount_amount is not null then (h.hotel_per_room_usd * (1 - s.hotel_discount_amount)) else h.hotel_per_room_usd end actual_hotel_per_room_usd
    from
      sessions s
      left join users u on s.user_id = u.user_id
      left join hotels h on h.trip_id = s.trip_id
      left join flights f on s.trip_id = f.trip_id
    where
      s.session_start >= '2023-01-04'
  ),

  filtered_users as (
    select
      count(session_id) num_sessions,
      user_id
    from
      sessions
    where
      session_start > '2023-01-04'
    group by
      user_id
    having
      count(session_id) > 7
  ),

  base_sessions as (
    select
      *,
      case when (flight_discount = true or hotel_discount = true) then 1
      else 0
      end discount_aplied
    from
      sessions_in_timeframe
    where
      user_id in (
        select
          user_id
        from
          filtered_users
      )
  ),

   cancelled_trips as ( select * from base_sessions
  where cancellation = true),

  sessions_details_per_user as
  (
  select
  user_id,
  count(session_id) num_sessions,
  sum(page_clicks) num_clicks,
  avg(page_clicks) average_num_clicks,
  sum(session_duration) total_session_time,
  avg(session_duration) average_duration,
  sum(discount_aplied) num_disc_sessions

from
base_sessions

group by user_id
),

trips_per_user as
(
select
  user_id,
  count(distinct trip_id) num_completed_trips,
  sum(discount_aplied) num_disc_trips,
  sum(discount_aplied)/count(distinct trip_id)::numeric perc_disc_trips
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
group by user_id
),

flights_details_per_user as
(
select
  user_id,
  sum(actual_ticket_price * seats) total_flight_price_paid,
  avg(actual_ticket_price) avg_flight_price_paid,
  sum(seats) total_num_seats,
  avg(seats) avg_num_seats,
  avg(checked_bags) avg_num_checked_bags,
  count(actual_ticket_price) total_num_flights,
  count(flight_discount_amount) total_num_disc_flights,
  round(cast(count(flight_discount_amount)/count(actual_ticket_price)::float * 100 as numeric), 2) perc_disc_flights,
  avg(flight_discount_amount) avg_flight_discount,
  avg(time_before_travel)/(3600 * 24) avg_time_before_travel
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
and base_fare_usd is not null
group by user_id
),

hotel_bookings_per_user as
(
select
user_id,
  sum(actual_hotel_per_room_usd * nights * rooms) total_hotel_night_paid,
  sum(nights) total_num_nights,
  sum(rooms) total_num_rooms,
  avg(nights) avg_num_nights,
  avg(rooms) avg_num_rooms,
  count(hotel_per_room_night_usd) total_num_hotel_bookings,
  count(hotel_discount_amount) total_num_disc_hotel_bookings,
  round(cast(count(hotel_discount_amount)/count(hotel_per_room_night_usd)::float * 100 as numeric), 2) perc_disc_bookings,
  avg(actual_hotel_per_room_usd) average_room_price,
  coalesce(avg(hotel_discount_amount), 0) avg_hotel_discount,
  avg(time_before_hotel_stay)/(3600 * 24) avg_time_before_hotel_stay
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
and hotel_per_room_night_usd is not null
group by user_id
order by count(hotel_discount_amount) desc
),

users_cte as
(
select user_id,	birthdate, round((current_date - birthdate)/365.0, 2) user_age,
 (current_date - sign_up_date) days_with_company,
 gender,
 married,
 has_children,
 home_country,
 home_city,
 home_airport,
 home_airport_lat,
 home_airport_lon,
 sign_up_date
from users
),

recency_table as
(
  select user_id,
  date_part('day', '2023-08-28' - max(session_end)) recency
  from base_sessions
  group by user_id
),

users_base as
(
select
users_cte.*,
num_sessions,
num_clicks,
average_num_clicks,
total_session_time,
average_duration,
num_disc_sessions,
coalesce(total_flight_price_paid, 0) total_flight_price_paid,
coalesce(avg_flight_price_paid, 0) avg_flight_price_paid,
coalesce(total_num_seats, 0) total_num_seats,
coalesce(avg_num_checked_bags, 0) avg_num_checked_bags,
coalesce(avg_num_seats, 0) avg_num_seats,
coalesce(total_num_flights, 0) total_num_flights,
coalesce(total_num_disc_flights, 0) total_num_disc_flights,
coalesce(perc_disc_flights, 0) perc_disc_flights,
coalesce(avg_flight_discount, 0) avg_flight_discount,
coalesce(avg_time_before_travel, 0) avg_time_before_travel,
coalesce(total_hotel_night_paid, 0)total_hotel_night_paid,
coalesce(total_num_nights, 0) total_num_nights,
coalesce(avg_num_nights, 0) avg_num_nights,
coalesce(avg_num_rooms, 0) avg_num_rooms,
coalesce(total_num_rooms, 0) total_num_rooms,
coalesce(total_num_hotel_bookings, 0) total_num_hotel_bookings,
coalesce(total_num_disc_hotel_bookings, 0) total_num_disc_hotel_bookings,
coalesce(perc_disc_bookings, 0) perc_disc_bookings,
coalesce(average_room_price, 0) average_room_price,
coalesce(avg_time_before_hotel_stay, 0) avg_time_before_hotel_stay,
coalesce(recency, 0) days_from_last_session,
(coalesce(total_flight_price_paid, 0) + coalesce(total_hotel_night_paid, 0))total_spend,
coalesce(num_completed_trips, 0) total_num_trips,
coalesce(num_disc_trips, 0) num_disc_trips,
coalesce(perc_disc_trips, 0) perc_disc_trips
from users_cte
inner join
sessions_details_per_user
on users_cte.user_id = sessions_details_per_user.user_id
left join trips_per_user
on trips_per_user.user_id = users_cte.user_id
left join flights_details_per_user
on flights_details_per_user.user_id = users_cte.user_id
left join hotel_bookings_per_user
on users_cte.user_id = hotel_bookings_per_user.user_id
left join recency_table
on sessions_details_per_user.user_id = recency_table.user_id
),

users_base_rfm_score as
(
select *,
  ntile(3) over (order by days_from_last_session desc) rfm_recency,
  ntile(3) over (order by total_num_trips) rfm_frequency,
  ntile(3) over (order by total_spend) rfm_monetary
  from users_base
)

select *,
concat(rfm_recency, rfm_frequency, rfm_monetary) overall_rfm_score
from users_base_rfm_score


"""

In [ ]:
users_base = pd.read_sql(sa.text(query),connection)
users_base

,user_id,birthdate,user_age,days_with_company,gender,married,has_children,home_country,home_city,home_airport,...,avg_time_before_hotel_stay,days_from_last_session,total_spend,total_num_trips,num_disc_trips,perc_disc_trips,rfm_recency,rfm_frequency,rfm_monetary,overall_rfm_score
0,537121,1969-08-28,54.89,534,F,True,False,usa,san diego,SAN,...,0.000000,190.0,0.000,1,1,1.0,1,1,1,111
1,508964,1998-04-21,26.22,547,F,True,True,usa,newark,EWR,...,0.000000,188.0,0.000,0,0,0.0,1,1,1,111
2,510270,1977-04-11,47.26,547,F,True,True,usa,columbus,LCK,...,0.000000,184.0,0.000,1,0,0.0,1,1,1,111
3,515198,1985-03-14,39.33,544,F,False,False,canada,toronto,YTZ,...,6.793796,183.0,0.000,1,1,1.0,1,1,1,111
4,524940,1998-01-11,26.50,540,F,True,True,usa,houston,HOU,...,2.626725,182.0,0.000,1,0,0.0,1,1,1,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,482548,1995-06-04,29.10,561,F,False,True,usa,houston,HOU,...,9.453761,30.0,2263.520,3,0,0.0,3,2,2,322
5994,653838,1961-09-23,62.82,481,F,True,False,canada,montreal,YUL,...,7.981804,30.0,562.990,2,0,0.0,3,1,1,311
5995,204943,1982-12-20,41.57,759,M,False,False,canada,ottawa,YOW,...,8.815565,30.0,8019.856,5,1,0.2,3,3,3,333
5996,667718,1986-03-02,38.37,476,F,False,False,usa,nashville,BNA,...,6.918392,30.0,1761.013,2,1,0.5,3,2,2,322
5997,584115,1987-11-01,36.70,511,F,False,True,usa,houston,IAH,...,8.974630,30.0,0.000,2,1,0.5,3,1,1,311

In [ ]:
query = """
with
  sessions_in_timeframe as (
    select
      s.*,
       (extract(epoch from s.session_end) - extract(epoch from s.session_start)) session_duration,
      u.birthdate,
      u.gender,
      u.married,
      u.has_children,
      u.home_country,
      u.home_city,
      u.home_airport,
      u.home_airport_lat,
      u.home_airport_lon,
      u.sign_up_date,
      f.origin_airport,
      f.destination,
      f.destination_airport,
      f.seats,
      f.return_flight_booked,
      f.departure_time,
      f.return_time,
      f.checked_bags,
      f.trip_airline,
      f.destination_airport_lat,
      f.destination_airport_lon,
      f.base_fare_usd,
      extract(epoch from (f.departure_time - s.session_end)) time_before_travel,
      case when s.flight_discount_amount is not null then (f.base_fare_usd * (1 - s.flight_discount_amount)) else f.base_fare_usd end actual_ticket_price,
      h.hotel_name,
      case when h.nights < 0 then 1 else nights end nights,
      h.rooms,
      h.check_in_time,
      h.check_out_time,
      h.hotel_per_room_usd as hotel_per_room_night_usd,
      extract(epoch from (h.check_in_time - s.session_end)) time_before_hotel_stay,
      case when s.hotel_discount_amount is not null then (h.hotel_per_room_usd * (1 - s.hotel_discount_amount)) else h.hotel_per_room_usd end actual_hotel_per_room_usd
    from
      sessions s
      left join users u on s.user_id = u.user_id
      left join hotels h on h.trip_id = s.trip_id
      left join flights f on s.trip_id = f.trip_id
    where
      s.session_start >= '2023-01-04'
  ),

  filtered_users as (
    select
      count(session_id) num_sessions,
      user_id
    from
      sessions
    where
      session_start > '2023-01-04'
    group by
      user_id
    having
      count(session_id) > 7
  ),

  base_sessions as (
    select
      *,
      case when (flight_discount = true or hotel_discount = true) then 1
      else 0
      end discount_aplied
    from
      sessions_in_timeframe
    where
      user_id in (
        select
          user_id
        from
          filtered_users
      )
  ),

   cancelled_trips as ( select * from base_sessions
  where cancellation = true),

  sessions_details_per_user as
  (
  select
  user_id,
  count(session_id) num_sessions,
  sum(page_clicks) num_clicks,
  avg(page_clicks) average_num_clicks,
  sum(session_duration) total_session_time,
  avg(session_duration) average_duration,
  sum(discount_aplied) num_disc_sessions

from
base_sessions

group by user_id
),

trips_per_user as
(
select
  user_id,
  count(distinct trip_id) num_completed_trips,
  sum(discount_aplied) num_disc_trips,
  sum(discount_aplied)/count(distinct trip_id)::numeric perc_disc_trips
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
group by user_id
),

flights_details_per_user as
(
select
  user_id,
  sum(actual_ticket_price * seats) total_flight_price_paid,
  avg(actual_ticket_price) avg_flight_price_paid,
  sum(seats) total_num_seats,
  avg(seats) avg_num_seats,
  avg(checked_bags) avg_num_checked_bags,
  count(actual_ticket_price) total_num_flights,
  count(flight_discount_amount) total_num_disc_flights,
  round(cast(count(flight_discount_amount)/count(actual_ticket_price)::float * 100 as numeric), 2) perc_disc_flights,
  avg(flight_discount_amount) avg_flight_discount,
  avg(time_before_travel)/(3600 * 24) avg_time_before_travel
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
and base_fare_usd is not null
group by user_id
),

hotel_bookings_per_user as
(
select
user_id,
  sum(actual_hotel_per_room_usd * nights * rooms) total_hotel_night_paid,
  sum(nights) total_num_nights,
  sum(rooms) total_num_rooms,
  avg(nights) avg_num_nights,
  avg(rooms) avg_num_rooms,
  count(hotel_per_room_night_usd) total_num_hotel_bookings,
  count(hotel_discount_amount) total_num_disc_hotel_bookings,
  round(cast(count(hotel_discount_amount)/count(hotel_per_room_night_usd)::float * 100 as numeric), 2) perc_disc_bookings,
  avg(actual_hotel_per_room_usd) average_room_price,
  coalesce(avg(hotel_discount_amount), 0) avg_hotel_discount,
  avg(time_before_hotel_stay)/(3600 * 24) avg_time_before_hotel_stay
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
and hotel_per_room_night_usd is not null
group by user_id
order by count(hotel_discount_amount) desc
),

users_impr as
(
select user_id,	birthdate, round((current_date - birthdate)/365.0) user_age,
 (current_date - sign_up_date) days_with_company,
 gender,
 married,
 has_children,
 home_country,
 home_city,
 home_airport,
 home_airport_lat,
 home_airport_lon,
 sign_up_date
from users
),

users_cte as
(
  select user_id,	birthdate, user_age,
case
when user_age between 16 and 24 then '16 - 24'
when user_age between 25 and 34 then '25 - 34'
when user_age between 35 and 44 then '35 - 44'
when user_age between 45 and 54 then '45 - 54'
when user_age between 55 and 64 then '55 - 64'
else 'over 64'
end age_group,
 (current_date - sign_up_date) days_with_company,
 gender,
 married,
 has_children,
 home_country,
 home_city,
 home_airport,
 home_airport_lat,
 home_airport_lon,
 sign_up_date
from users_impr
  ),

recency_table as
(
  select user_id,
  date_part('day', '2023-08-28' - max(session_end)) recency
  from base_sessions
  group by user_id
),

users_base as
(
select
users_cte.*,
num_sessions,
num_clicks,
average_num_clicks,
total_session_time,
average_duration,
num_disc_sessions,
coalesce(total_flight_price_paid, 0) total_flight_price_paid,
coalesce(avg_flight_price_paid, 0) avg_flight_price_paid,
coalesce(total_num_seats, 0) total_num_seats,
coalesce(avg_num_checked_bags, 0) avg_num_checked_bags,
coalesce(avg_num_seats, 0) avg_num_seats,
coalesce(total_num_flights, 0) total_num_flights,
coalesce(total_num_disc_flights, 0) total_num_disc_flights,
coalesce(perc_disc_flights, 0) perc_disc_flights,
coalesce(avg_flight_discount, 0) avg_flight_discount,
coalesce(avg_time_before_travel, 0) avg_time_before_travel,
coalesce(total_hotel_night_paid, 0)total_hotel_night_paid,
coalesce(total_num_nights, 0) total_num_nights,
coalesce(avg_num_nights, 0) avg_num_nights,
coalesce(avg_num_rooms, 0) avg_num_rooms,
coalesce(total_num_rooms, 0) total_num_rooms,
coalesce(total_num_hotel_bookings, 0) total_num_hotel_bookings,
coalesce(total_num_disc_hotel_bookings, 0) total_num_disc_hotel_bookings,
coalesce(perc_disc_bookings, 0) perc_disc_bookings,
coalesce(average_room_price, 0) average_room_price,
coalesce(avg_time_before_hotel_stay, 0) avg_time_before_hotel_stay,
coalesce(recency, 0) days_from_last_session,
(coalesce(total_flight_price_paid, 0) + coalesce(total_hotel_night_paid, 0))total_spend,
coalesce(num_completed_trips, 0) total_num_trips,
coalesce(num_disc_trips, 0) num_disc_trips,
coalesce(perc_disc_trips, 0) perc_disc_trips
from users_cte
inner join
sessions_details_per_user
on users_cte.user_id = sessions_details_per_user.user_id
left join trips_per_user
on trips_per_user.user_id = users_cte.user_id
left join flights_details_per_user
on flights_details_per_user.user_id = users_cte.user_id
left join hotel_bookings_per_user
on users_cte.user_id = hotel_bookings_per_user.user_id
left join recency_table
on sessions_details_per_user.user_id = recency_table.user_id
),

users_base_rfm_score as
(
select *,
  ntile(3) over (order by days_from_last_session desc) recency,
  ntile(3) over (order by total_num_trips) frequency,
  ntile(3) over (order by total_spend) monetary
  from users_base
),

users_base_overall_rfm_score as
(
select *,
concat(recency, frequency, monetary)::integer rfm
from users_base_rfm_score
)


select *,
case
 when ((avg_num_checked_bags <= 1 and avg_num_nights <= 3) and rfm in (311, 312, 311) and total_num_trips > 0 and total_num_flights > 0 )
 then 'new business travelers with flights'
 when ((avg_num_checked_bags <= 1 and avg_num_nights <= 3) and rfm in (311, 312, 311) and total_num_trips > 0 and total_num_flights = 0)
 then 'new business travelers - hotel only'
 when ((avg_num_checked_bags > 1 or avg_num_nights > 3) and rfm in (311, 312, 311) and total_num_trips > 0 and total_num_flights > 0)
 then 'new casual travelers with flights'
 when ((avg_num_checked_bags = 0 and avg_num_nights > 3) and rfm in (311, 312, 311) and total_num_trips > 0 and total_num_flights = 0)
 then 'new casual travelers - hotel only'

 when ((avg_num_checked_bags <= 1 and avg_num_nights <= 3) and rfm in (111, 121, 131, 122, 133, 113, 112, 132) and total_num_trips > 0)
 then 'lost business travelers'
 when ((avg_num_checked_bags > 1 or avg_num_nights > 3) and rfm in (111, 121, 131, 122, 133, 113, 112, 132) and total_num_trips > 0)
 then 'lost casual travelers'

 when ((avg_num_checked_bags <= 1 and avg_num_nights <= 3) and total_num_trips > 0 and total_num_flights > 0
 and rfm in (212, 123, 221, 211, 232)) then 'regular business travelers with flights'
 when ((avg_num_checked_bags <= 1 and avg_num_nights <= 3) and total_num_trips > 0 and total_num_flights = 0
 and rfm in (212, 123, 221, 211, 232)) then 'regular business travelers - hotel only'
 when ((avg_num_checked_bags > 1 or avg_num_nights > 3) and total_num_trips > 0 and total_num_flights > 0
 and rfm in (212, 123, 221, 211, 232)) then 'regular casual travelers with flights'
 when ((avg_num_checked_bags = 0 and avg_num_nights > 3) and total_num_trips > 0 and total_num_flights = 0
 and rfm in (212, 123, 221, 211, 232)) then 'regular casual travelers - hotel only'

 when ((avg_num_checked_bags <= 1 and avg_num_nights <= 3) and total_num_trips > 0 and total_num_flights > 0
 and rfm in (223, 222, 213, 322, 231, 321, 331)) then 'loyal business travelers with flights'
 when ((avg_num_checked_bags <= 1 and avg_num_nights <= 3) and total_num_trips > 0 and total_num_flights = 0
 and rfm in (223, 222, 213, 322, 231, 321, 331)) then 'loyal business travelers - hotel only'
 when ((avg_num_checked_bags > 1 or avg_num_nights > 3) and total_num_trips > 0 and total_num_flights > 0
 and rfm in (223, 222, 213, 322, 231, 321, 331)) then 'loyal casual travelers with flights'
 when ((avg_num_checked_bags = 0 and avg_num_nights > 3) and total_num_trips > 0 and total_num_flights = 0
 and rfm in (223, 222, 213, 322, 231, 321, 331)) then 'loyal casual travelers - hotel only'

 when ((avg_num_checked_bags <= 1 and avg_num_nights <= 3) and total_num_trips > 0 and total_num_flights > 0
 and rfm in (333, 332, 313, 323, 233)) then 'top business travelers with flights'
 when ((avg_num_checked_bags <= 1 and avg_num_nights <= 3) and total_num_trips > 0 and total_num_flights = 0
 and rfm in (333, 332, 313, 323, 233)) then 'top business travelers with flights - hotel only'
 when ((avg_num_checked_bags > 1 or avg_num_nights > 3) and total_num_trips > 0 and total_num_flights > 0
 and rfm in (333, 332, 313, 323, 233)) then 'top casual travelers with flights'
 when ((avg_num_checked_bags = 0 and avg_num_nights > 3) and total_num_trips > 0 and total_num_flights = 0
 and rfm in (333, 332, 313, 323, 233)) then 'top casual travelers - hotel only'

 when total_num_trips = 0 then 'potential travelers'
 end cust_category
 from users_base_overall_rfm_score

"""

In [ ]:
segmentation = pd.read_sql(sa.text(query),connection)
segmentation

,user_id,birthdate,user_age,age_group,days_with_company,gender,married,has_children,home_country,home_city,...,days_from_last_session,total_spend,total_num_trips,num_disc_trips,perc_disc_trips,recency,frequency,monetary,rfm,cust_category
0,537121,1969-08-28,55.0,55 - 64,538,F,True,False,usa,san diego,...,190.0,586.880,1,1,1.0,1,1,1,111,lost business travelers
1,508964,1998-04-21,26.0,25 - 34,551,F,True,True,usa,newark,...,188.0,0.000,0,0,0.0,1,1,1,111,potential travelers
2,510270,1977-04-11,47.0,45 - 54,551,F,True,True,usa,columbus,...,184.0,1572.580,1,0,0.0,1,1,2,112,lost business travelers
3,515198,1985-03-14,39.0,35 - 44,548,F,False,False,canada,toronto,...,183.0,3096.000,1,1,1.0,1,1,2,112,lost casual travelers
4,524940,1998-01-11,27.0,25 - 34,544,F,True,True,usa,houston,...,182.0,2468.000,1,0,0.0,1,1,2,112,lost casual travelers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,482548,1995-06-04,29.0,25 - 34,565,F,False,True,usa,houston,...,30.0,2263.520,3,0,0.0,3,2,2,322,loyal casual travelers with flights
5994,584115,1987-11-01,37.0,35 - 44,515,F,False,True,usa,houston,...,30.0,1166.000,2,1,0.5,3,1,1,311,new casual travelers - hotel only
5995,667718,1986-03-02,38.0,35 - 44,480,F,False,False,usa,nashville,...,30.0,1761.013,2,1,0.5,3,2,2,322,loyal business travelers with flights
5996,204943,1982-12-20,42.0,35 - 44,763,M,False,False,canada,ottawa,...,30.0,8019.856,5,1,0.2,3,3,3,333,top casual travelers with flights
5997,653838,1961-09-23,63.0,55 - 64,485,F,True,False,canada,montreal,...,30.0,562.990,2,0,0.0,3,1,1,311,new business travelers with flights

In [ ]:
query = """
with
  sessions_in_timeframe as (
    select
      s.*,
       (extract(epoch from s.session_end) - extract(epoch from s.session_start)) session_duration,
      u.birthdate,
      u.gender,
      u.married,
      u.has_children,
      u.home_country,
      u.home_city,
      u.home_airport,
      u.home_airport_lat,
      u.home_airport_lon,
      u.sign_up_date,
      f.origin_airport,
      f.destination,
      f.destination_airport,
      f.seats,
      f.return_flight_booked,
      f.departure_time,
      f.return_time,
      f.checked_bags,
      f.trip_airline,
      f.destination_airport_lat,
      f.destination_airport_lon,
      f.base_fare_usd,
      extract(epoch from (f.departure_time - s.session_end)) time_before_travel,
      case when s.flight_discount_amount is not null then (f.base_fare_usd * (1 - s.flight_discount_amount)) else f.base_fare_usd end actual_ticket_price,
      h.hotel_name,
      case when h.nights < 0 then 1 else nights end nights,
      h.rooms,
      h.check_in_time,
      h.check_out_time,
      h.hotel_per_room_usd as hotel_per_room_night_usd,
      extract(epoch from (h.check_in_time - s.session_end)) time_before_hotel_stay,
      case when s.hotel_discount_amount is not null then (h.hotel_per_room_usd * (1 - s.hotel_discount_amount)) else h.hotel_per_room_usd end actual_hotel_per_room_usd
    from
      sessions s
      left join users u on s.user_id = u.user_id
      left join hotels h on h.trip_id = s.trip_id
      left join flights f on s.trip_id = f.trip_id
    where
      s.session_start >= '2023-01-04'
  ),

  filtered_users as (
    select
      count(session_id) num_sessions,
      user_id
    from
      sessions
    where
      session_start > '2023-01-04'
    group by
      user_id
    having
      count(session_id) > 7
  ),

  base_sessions as (
    select
      *,
      case when (flight_discount = true or hotel_discount = true) then 1
      else 0
      end discount_aplied
    from
      sessions_in_timeframe
    where
      user_id in (
        select
          user_id
        from
          filtered_users
      )
  ),

   cancelled_trips as ( select * from base_sessions
  where cancellation = true),

  sessions_details_per_user as
  (
  select
  user_id,
  count(session_id) num_sessions,
  sum(page_clicks) num_clicks,
  avg(page_clicks) average_num_clicks,
  sum(session_duration) total_session_time,
  avg(session_duration) average_duration,
  sum(discount_aplied) num_disc_sessions

from
base_sessions

group by user_id
),

trips_per_user as
(
select
  user_id,
  count(distinct trip_id) num_completed_trips,
  sum(discount_aplied) num_disc_trips,
  sum(discount_aplied)/count(distinct trip_id)::numeric perc_disc_trips
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
group by user_id
),

flights_details_per_user as
(
select
  user_id,
  sum(actual_ticket_price * seats) total_flight_price_paid,
  avg(actual_ticket_price) avg_flight_price_paid,
  sum(seats) total_num_seats,
  avg(seats) avg_num_seats,
  avg(checked_bags) avg_num_checked_bags,
  count(actual_ticket_price) total_num_flights,
  count(flight_discount_amount) total_num_disc_flights,
  round(cast(count(flight_discount_amount)/count(actual_ticket_price)::float * 100 as numeric), 2) perc_disc_flights,
  avg(flight_discount_amount) avg_flight_discount,
  avg(time_before_travel)/(3600 * 24) avg_time_before_travel
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
and base_fare_usd is not null
group by user_id
),

hotel_bookings_per_user as
(
select
user_id,
  sum(actual_hotel_per_room_usd * nights * rooms) total_hotel_night_paid,
  sum(nights) total_num_nights,
  sum(rooms) total_num_rooms,
  avg(nights) avg_num_nights,
  avg(rooms) avg_num_rooms,
  count(hotel_per_room_night_usd) total_num_hotel_bookings,
  count(hotel_discount_amount) total_num_disc_hotel_bookings,
  round(cast(count(hotel_discount_amount)/count(hotel_per_room_night_usd)::float * 100 as numeric), 2) perc_disc_bookings,
  avg(actual_hotel_per_room_usd) average_room_price,
  coalesce(avg(hotel_discount_amount), 0) avg_hotel_discount,
  avg(time_before_hotel_stay)/(3600 * 24) avg_time_before_hotel_stay
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
and hotel_per_room_night_usd is not null
group by user_id
order by count(hotel_discount_amount) desc
),

users_impr as
(
select user_id,	birthdate, round((current_date - birthdate)/365.0) user_age,
 (current_date - sign_up_date) days_with_company,
 gender,
 married,
 has_children,
 home_country,
 home_city,
 home_airport,
 home_airport_lat,
 home_airport_lon,
 sign_up_date
from users
),

users_cte as
(
  select user_id,	birthdate, user_age,
case
when user_age between 16 and 24 then '16 - 24'
when user_age between 25 and 34 then '25 - 34'
when user_age between 35 and 44 then '35 - 44'
when user_age between 45 and 54 then '45 - 54'
when user_age between 55 and 64 then '55 - 64'
else 'over 64'
end age_group,
 (current_date - sign_up_date) days_with_company,
 gender,
 married,
 has_children,
 home_country,
 home_city,
 home_airport,
 home_airport_lat,
 home_airport_lon,
 sign_up_date
from users_impr
  ),

recency_table as
(
  select user_id,
  date_part('day', '2023-08-28' - max(session_end)) recency
  from base_sessions
  group by user_id
),

users_base as
(
select
users_cte.*,
num_sessions,
num_clicks,
average_num_clicks,
total_session_time,
average_duration,
num_disc_sessions,
coalesce(total_flight_price_paid, 0) total_flight_price_paid,
coalesce(avg_flight_price_paid, 0) avg_flight_price_paid,
coalesce(total_num_seats, 0) total_num_seats,
coalesce(avg_num_checked_bags, 0) avg_num_checked_bags,
coalesce(avg_num_seats, 0) avg_num_seats,
coalesce(total_num_flights, 0) total_num_flights,
coalesce(total_num_disc_flights, 0) total_num_disc_flights,
coalesce(perc_disc_flights, 0) perc_disc_flights,
coalesce(avg_flight_discount, 0) avg_flight_discount,
coalesce(avg_time_before_travel, 0) avg_time_before_travel,
coalesce(total_hotel_night_paid, 0)total_hotel_night_paid,
coalesce(total_num_nights, 0) total_num_nights,
coalesce(avg_num_nights, 0) avg_num_nights,
coalesce(avg_num_rooms, 0) avg_num_rooms,
coalesce(total_num_rooms, 0) total_num_rooms,
coalesce(total_num_hotel_bookings, 0) total_num_hotel_bookings,
coalesce(total_num_disc_hotel_bookings, 0) total_num_disc_hotel_bookings,
coalesce(perc_disc_bookings, 0) perc_disc_bookings,
coalesce(average_room_price, 0) average_room_price,
coalesce(avg_time_before_hotel_stay, 0) avg_time_before_hotel_stay,
coalesce(recency, 0) days_from_last_session,
(coalesce(total_flight_price_paid, 0) + coalesce(total_hotel_night_paid, 0))total_spend,
coalesce(num_completed_trips, 0) total_num_trips,
coalesce(num_disc_trips, 0) num_disc_trips,
coalesce(perc_disc_trips, 0) perc_disc_trips
from users_cte
inner join
sessions_details_per_user
on users_cte.user_id = sessions_details_per_user.user_id
left join trips_per_user
on trips_per_user.user_id = users_cte.user_id
left join flights_details_per_user
on flights_details_per_user.user_id = users_cte.user_id
left join hotel_bookings_per_user
on users_cte.user_id = hotel_bookings_per_user.user_id
left join recency_table
on sessions_details_per_user.user_id = recency_table.user_id
),

users_base_rfm_score as
(
select *,
  ntile(3) over (order by days_from_last_session desc) recency,
  ntile(3) over (order by total_num_trips) frequency,
  ntile(3) over (order by total_spend) monetary
  from users_base
),

users_base_overall_rfm_score as
(
select *,
concat(recency, frequency, monetary)::integer rfm
from users_base_rfm_score
)


select *,
case
 when (rfm in (311, 312, 311) and total_num_trips > 0)
 then 'new travelers'


 when (rfm in (111, 121, 131, 122, 133, 113, 112, 132) and total_num_trips > 0)
 then 'lost travelers'


 when (total_num_trips > 0 and rfm in (212, 123, 221, 211)) then 'regular travelers'

 when (total_num_trips > 0 and rfm in (223, 222, 213, 322, 231, 232, 321, 331)) then 'loyal travelers'

 when (total_num_trips > 0 and rfm in (333, 332, 313, 323, 233)) then 'top  travelers'

 when total_num_trips = 0 then 'potential travelers'
 end cust_category
 from users_base_overall_rfm_score
 """

In [ ]:
segmentation_2 = pd.read_sql(sa.text(query),connection)
segmentation_2

,user_id,birthdate,user_age,age_group,days_with_company,gender,married,has_children,home_country,home_city,...,days_from_last_session,total_spend,total_num_trips,num_disc_trips,perc_disc_trips,recency,frequency,monetary,rfm,cust_category
0,537121,1969-08-28,55.0,55 - 64,538,F,True,False,usa,san diego,...,190.0,586.880,1,1,1.0,1,1,1,111,lost travelers
1,508964,1998-04-21,26.0,25 - 34,551,F,True,True,usa,newark,...,188.0,0.000,0,0,0.0,1,1,1,111,potential travelers
2,510270,1977-04-11,47.0,45 - 54,551,F,True,True,usa,columbus,...,184.0,1572.580,1,0,0.0,1,1,2,112,lost travelers
3,515198,1985-03-14,39.0,35 - 44,548,F,False,False,canada,toronto,...,183.0,3096.000,1,1,1.0,1,1,2,112,lost travelers
4,524940,1998-01-11,27.0,25 - 34,544,F,True,True,usa,houston,...,182.0,2468.000,1,0,0.0,1,1,2,112,lost travelers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,482548,1995-06-04,29.0,25 - 34,565,F,False,True,usa,houston,...,30.0,2263.520,3,0,0.0,3,2,2,322,loyal travelers
5994,584115,1987-11-01,37.0,35 - 44,515,F,False,True,usa,houston,...,30.0,1166.000,2,1,0.5,3,1,1,311,new travelers
5995,667718,1986-03-02,38.0,35 - 44,480,F,False,False,usa,nashville,...,30.0,1761.013,2,1,0.5,3,2,2,322,loyal travelers
5996,204943,1982-12-20,42.0,35 - 44,763,M,False,False,canada,ottawa,...,30.0,8019.856,5,1,0.2,3,3,3,333,top travelers
5997,653838,1961-09-23,63.0,55 - 64,485,F,True,False,canada,montreal,...,30.0,562.990,2,0,0.0,3,1,1,311,new travelers

In [ ]:
query = """
with
  sessions_in_timeframe as (
    select
      s.*,
       (extract(epoch from s.session_end) - extract(epoch from s.session_start)) session_duration,
      u.birthdate,
      u.gender,
      u.married,
      u.has_children,
      u.home_country,
      u.home_city,
      u.home_airport,
      u.home_airport_lat,
      u.home_airport_lon,
      u.sign_up_date,
      f.origin_airport,
      f.destination,
      f.destination_airport,
      f.seats,
      f.return_flight_booked,
      f.departure_time,
      f.return_time,
      f.checked_bags,
      f.trip_airline,
      f.destination_airport_lat,
      f.destination_airport_lon,
      f.base_fare_usd,
      extract(epoch from (f.departure_time - s.session_end)) time_before_travel,
      case when s.flight_discount_amount is not null then (f.base_fare_usd * (1 - s.flight_discount_amount)) else f.base_fare_usd end actual_ticket_price,
      h.hotel_name,
      case when h.nights < 0 then 1 else nights end nights,
      h.rooms,
      h.check_in_time,
      h.check_out_time,
      h.hotel_per_room_usd as hotel_per_room_night_usd,
      extract(epoch from (h.check_in_time - s.session_end)) time_before_hotel_stay,
      case when s.hotel_discount_amount is not null then (h.hotel_per_room_usd * (1 - s.hotel_discount_amount)) else h.hotel_per_room_usd end actual_hotel_per_room_usd
    from
      sessions s
      left join users u on s.user_id = u.user_id
      left join hotels h on h.trip_id = s.trip_id
      left join flights f on s.trip_id = f.trip_id
    where
      s.session_start >= '2023-01-04'
  ),

  filtered_users as (
    select
      count(session_id) num_sessions,
      user_id
    from
      sessions
    where
      session_start > '2023-01-04'
    group by
      user_id
    having
      count(session_id) > 7
  ),

  base_sessions as (
    select
      *,
      case when (flight_discount = true or hotel_discount = true) then 1
      else 0
      end discount_aplied
    from
      sessions_in_timeframe
    where
      user_id in (
        select
          user_id
        from
          filtered_users
      )
  ),

   cancelled_trips as ( select * from base_sessions
  where cancellation = true),

  sessions_details_per_user as
  (
  select
  user_id,
  count(session_id) num_sessions,
  sum(page_clicks) num_clicks,
  avg(page_clicks) average_num_clicks,
  sum(session_duration) total_session_time,
  avg(session_duration) average_duration,
  sum(discount_aplied) num_disc_sessions

from
base_sessions

group by user_id
),

trips_per_user as
(
select
  user_id,
  count(distinct trip_id) num_completed_trips,
  sum(discount_aplied) num_disc_trips,
  sum(discount_aplied)/count(distinct trip_id)::numeric perc_disc_trips
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
group by user_id
),

flights_details_per_user as
(
select
  user_id,
  sum(actual_ticket_price * seats) total_flight_price_paid,
  avg(actual_ticket_price) avg_flight_price_paid,
  sum(seats) total_num_seats,
  avg(seats) avg_num_seats,
  avg(checked_bags) avg_num_checked_bags,
  count(actual_ticket_price) total_num_flights,
  count(flight_discount_amount) total_num_disc_flights,
  round(cast(count(flight_discount_amount)/count(actual_ticket_price)::float * 100 as numeric), 2) perc_disc_flights,
  avg(flight_discount_amount) avg_flight_discount,
  avg(time_before_travel)/(3600 * 24) avg_time_before_travel
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
and base_fare_usd is not null
group by user_id
),

hotel_bookings_per_user as
(
select
user_id,
  sum(actual_hotel_per_room_usd * nights * rooms) total_hotel_night_paid,
  sum(nights) total_num_nights,
  sum(rooms) total_num_rooms,
  avg(nights) avg_num_nights,
  avg(rooms) avg_num_rooms,
  count(hotel_per_room_night_usd) total_num_hotel_bookings,
  count(hotel_discount_amount) total_num_disc_hotel_bookings,
  round(cast(count(hotel_discount_amount)/count(hotel_per_room_night_usd)::float * 100 as numeric), 2) perc_disc_bookings,
  avg(actual_hotel_per_room_usd) average_room_price,
  coalesce(avg(hotel_discount_amount), 0) avg_hotel_discount,
  avg(time_before_hotel_stay)/(3600 * 24) avg_time_before_hotel_stay
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
and hotel_per_room_night_usd is not null
group by user_id
order by count(hotel_discount_amount) desc
),

users_impr as
(
select user_id,	birthdate, round((current_date - birthdate)/365.0) user_age,
 (current_date - sign_up_date) days_with_company,
 gender,
 married,
 has_children,
 home_country,
 home_city,
 home_airport,
 home_airport_lat,
 home_airport_lon,
 sign_up_date
from users
),

users_cte as
(
  select user_id,	birthdate, user_age,
case
when user_age between 16 and 24 then '16 - 24'
when user_age between 25 and 34 then '25 - 34'
when user_age between 35 and 44 then '35 - 44'
when user_age between 45 and 54 then '45 - 54'
when user_age between 55 and 64 then '55 - 64'
else 'over 64'
end age_group,
 (current_date - sign_up_date) days_with_company,
 gender,
 married,
 has_children,
 home_country,
 home_city,
 home_airport,
 home_airport_lat,
 home_airport_lon,
 sign_up_date
from users_impr
  ),

recency_table as
(
  select user_id,
  date_part('day', '2023-08-28' - max(session_end)) recency
  from base_sessions
  group by user_id
),

users_base as
(
select
users_cte.*,
num_sessions,
num_clicks,
average_num_clicks,
total_session_time,
average_duration,
num_disc_sessions,
coalesce(total_flight_price_paid, 0) total_flight_price_paid,
coalesce(avg_flight_price_paid, 0) avg_flight_price_paid,
coalesce(total_num_seats, 0) total_num_seats,
coalesce(avg_num_checked_bags, 0) avg_num_checked_bags,
coalesce(avg_num_seats, 0) avg_num_seats,
coalesce(total_num_flights, 0) total_num_flights,
coalesce(total_num_disc_flights, 0) total_num_disc_flights,
coalesce(perc_disc_flights, 0) perc_disc_flights,
coalesce(avg_flight_discount, 0) avg_flight_discount,
coalesce(avg_time_before_travel, 0) avg_time_before_travel,
coalesce(total_hotel_night_paid, 0)total_hotel_night_paid,
coalesce(total_num_nights, 0) total_num_nights,
coalesce(avg_num_nights, 0) avg_num_nights,
coalesce(avg_num_rooms, 0) avg_num_rooms,
coalesce(total_num_rooms, 0) total_num_rooms,
coalesce(total_num_hotel_bookings, 0) total_num_hotel_bookings,
coalesce(total_num_disc_hotel_bookings, 0) total_num_disc_hotel_bookings,
coalesce(perc_disc_bookings, 0) perc_disc_bookings,
coalesce(average_room_price, 0) average_room_price,
coalesce(avg_time_before_hotel_stay, 0) avg_time_before_hotel_stay,
coalesce(recency, 0) days_from_last_session,
(coalesce(total_flight_price_paid, 0) + coalesce(total_hotel_night_paid, 0))total_spend,
coalesce(num_completed_trips, 0) total_num_trips,
coalesce(num_disc_trips, 0) num_disc_trips,
coalesce(perc_disc_trips, 0) perc_disc_trips
from users_cte
inner join
sessions_details_per_user
on users_cte.user_id = sessions_details_per_user.user_id
left join trips_per_user
on trips_per_user.user_id = users_cte.user_id
left join flights_details_per_user
on flights_details_per_user.user_id = users_cte.user_id
left join hotel_bookings_per_user
on users_cte.user_id = hotel_bookings_per_user.user_id
left join recency_table
on sessions_details_per_user.user_id = recency_table.user_id
),

users_base_rfm_score as
(
select *,
  ntile(3) over (order by days_from_last_session desc) recency,
  ntile(3) over (order by total_num_trips) frequency,
  ntile(3) over (order by total_spend) monetary
  from users_base
),

users_base_overall_rfm_score as
(
select *,
concat(recency, frequency, monetary)::integer rfm
from users_base_rfm_score
),

segmentation as

(
select *,
case
 when (rfm in (311, 312, 311) and total_num_trips > 0)
 then 'new travelers'


 when (rfm in (111, 121, 131, 122, 133, 113, 112, 132) and total_num_trips > 0)
 then 'lost travelers'


 when (total_num_trips > 0 and rfm in (212, 123, 221, 211)) then 'regular travelers'

 when (total_num_trips > 0 and rfm in (223, 222, 213, 322, 231, 232, 321, 331)) then 'loyal travelers'

 when (total_num_trips > 0 and rfm in (333, 332, 313, 323, 233)) then 'top  travelers'

 when total_num_trips = 0 then 'potential travelers'
 end cust_category
 from users_base_overall_rfm_score
  )

select
session_id,
base_sessions.user_id,
trip_id,
session_start,
session_end,
flight_discount,
hotel_discount,
flight_discount_amount,
hotel_discount_amount,
flight_booked,
hotel_booked,
page_clicks,
cancellation,
session_duration,
      base_sessions.birthdate,
      users_cte.user_age,
      users_cte.age_group,
      base_sessions.gender,
      base_sessions.married,
      base_sessions.has_children,
      base_sessions.home_country,
      base_sessions.home_city,
      base_sessions.home_airport,
      base_sessions.home_airport_lat,
      base_sessions.home_airport_lon,
      base_sessions.sign_up_date,
      origin_airport,
      destination,
      destination_airport,
      seats,
      return_flight_booked,
      departure_time,
      return_time,
      checked_bags,
      trip_airline,
      destination_airport_lat,
      destination_airport_lon,
      base_fare_usd,
      time_before_travel,
      actual_ticket_price,
      hotel_name,
      nights,
      rooms,
      check_in_time,
      check_out_time,
      hotel_per_room_night_usd,
      time_before_hotel_stay,
      actual_hotel_per_room_usd,
      rfm,
      cust_category

from base_sessions
left join users_cte on base_sessions.user_id = users_cte.user_id
left join segmentation on base_sessions.user_id = segmentation.user_id
"""

In [ ]:
base_sessions_segmentation = pd.read_sql(sa.text(query),connection)
base_sessions_segmentation

,session_id,user_id,trip_id,session_start,session_end,flight_discount,hotel_discount,flight_discount_amount,hotel_discount_amount,flight_booked,...,hotel_name,nights,rooms,check_in_time,check_out_time,hotel_per_room_night_usd,time_before_hotel_stay,actual_hotel_per_room_usd,rfm,cust_category
0,23557-1a9782e158f44ad9ab1d2daa74f25db8,23557,23557-753d651e2b6a493080bcf880b1ce7cba,2023-07-14 12:36:00,2023-07-14 12:37:09,False,False,NaN,NaN,False,...,Extended Stay - calgary,18.0,2.0,2023-07-25 11:00:00,2023-08-12 11:00:00,91.0,944571.0,91.00,323,top travelers
1,23557-d1e9b9b2df254fd88fb22cfe975d0f69,23557,23557-0c179482e53242b1b28d90c33dfa6050,2023-02-22 18:12:00,2023-02-22 18:13:15,False,True,NaN,0.25,False,...,InterContinental - new york,2.0,1.0,2023-03-09 11:00:00,2023-03-11 11:00:00,263.0,1270005.0,197.25,323,top travelers
2,23557-f6ceb8dcf6304f0cbbafd251769d9790,23557,None,2023-02-01 21:36:00,2023-02-01 21:37:10,False,False,NaN,NaN,False,...,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,323,top travelers
3,23557-46452ee44c1a4bc19b57ead96974820b,23557,None,2023-05-12 21:33:00,2023-05-12 21:33:36,False,True,NaN,0.10,False,...,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,323,top travelers
4,23557-c9ef21b58cfa48118bb6c92c8a70180f,23557,None,2023-06-26 12:11:00,2023-06-26 12:11:23,False,False,NaN,NaN,False,...,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,323,top travelers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49206,844489-170432ce18e54cae9e8b1bdd280903a3,844489,None,2023-06-07 21:35:00,2023-06-07 21:35:50,True,False,0.05,NaN,False,...,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,311,potential travelers
49207,844489-424fa812cc1b430caafbe43d6677af97,844489,None,2023-05-27 21:01:00,2023-05-27 21:02:28,False,False,NaN,NaN,False,...,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,311,potential travelers
49208,844489-6b42f707e3804bd097e1a979f617489a,844489,None,2023-05-22 18:27:00,2023-05-22 18:28:23,False,False,NaN,NaN,False,...,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,311,potential travelers
49209,844489-9af4071e4ecc42b3a9533097024519c5,844489,None,2023-06-30 22:01:00,2023-06-30 22:03:24,False,False,NaN,NaN,False,...,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,311,potential travelers
49210,844489-3eaf44b053384a909ee6689d19fabbc2,844489,None,2023-06-29 21:17:00,2023-06-29 21:17:42,False,False,NaN,NaN,False,...,None,NaN,NaN,NaT,NaT,NaN,NaN,NaN,311,potential travelers

In [ ]:
query = """
with
  sessions_in_timeframe as (
    select
      s.*,
       (extract(epoch from s.session_end) - extract(epoch from s.session_start)) session_duration,
      u.birthdate,
      u.gender,
      u.married,
      u.has_children,
      u.home_country,
      u.home_city,
      u.home_airport,
      u.home_airport_lat,
      u.home_airport_lon,
      u.sign_up_date,
      f.origin_airport,
      f.destination,
      f.destination_airport,
      f.seats,
      f.return_flight_booked,
      f.departure_time,
      f.return_time,
      f.checked_bags,
      f.trip_airline,
      f.destination_airport_lat,
      f.destination_airport_lon,
      f.base_fare_usd,
      extract(epoch from (f.departure_time - s.session_end)) time_before_travel,
      case when s.flight_discount_amount is not null then (f.base_fare_usd * (1 - s.flight_discount_amount)) else f.base_fare_usd end actual_ticket_price,
      h.hotel_name,
      case when h.nights < 0 then 1 else nights end nights,
      h.rooms,
      h.check_in_time,
      h.check_out_time,
      h.hotel_per_room_usd as hotel_per_room_night_usd,
      extract(epoch from (h.check_in_time - s.session_end)) time_before_hotel_stay,
      case when s.hotel_discount_amount is not null then (h.hotel_per_room_usd * (1 - s.hotel_discount_amount)) else h.hotel_per_room_usd end actual_hotel_per_room_usd
    from
      sessions s
      left join users u on s.user_id = u.user_id
      left join hotels h on h.trip_id = s.trip_id
      left join flights f on s.trip_id = f.trip_id
    where
      s.session_start >= '2023-01-04'
  ),

  filtered_users as (
    select
      count(session_id) num_sessions,
      user_id
    from
      sessions
    where
      session_start > '2023-01-04'
    group by
      user_id
    having
      count(session_id) > 7
  ),

  base_sessions as (
    select
      *,
      case when (flight_discount = true or hotel_discount = true) then 1
      else 0
      end discount_aplied
    from
      sessions_in_timeframe
    where
      user_id in (
        select
          user_id
        from
          filtered_users
      )
  ),

   cancelled_trips as ( select * from base_sessions
  where cancellation = true),

  sessions_details_per_user as
  (
  select
  user_id,
  count(session_id) num_sessions,
  sum(page_clicks) num_clicks,
  avg(page_clicks) average_num_clicks,
  sum(session_duration) total_session_time,
  avg(session_duration) average_duration,
  sum(discount_aplied) num_disc_sessions

from
base_sessions

group by user_id
),

trips_per_user as
(
select
  user_id,
  count(distinct trip_id) num_completed_trips,
  sum(discount_aplied) num_disc_trips,
  sum(discount_aplied)/count(distinct trip_id)::numeric perc_disc_trips
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
group by user_id
),

flights_details_per_user as
(
select
  user_id,
  sum(actual_ticket_price * seats) total_flight_price_paid,
  avg(actual_ticket_price) avg_flight_price_paid,
  sum(seats) total_num_seats,
  avg(seats) avg_num_seats,
  avg(checked_bags) avg_num_checked_bags,
  count(actual_ticket_price) total_num_flights,
  count(flight_discount_amount) total_num_disc_flights,
  round(cast(count(flight_discount_amount)/count(actual_ticket_price)::float * 100 as numeric), 2) perc_disc_flights,
  avg(flight_discount_amount) avg_flight_discount,
  avg(time_before_travel)/(3600 * 24) avg_time_before_travel
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
and base_fare_usd is not null
group by user_id
),

hotel_bookings_per_user as
(
select
user_id,
  sum(actual_hotel_per_room_usd * nights * rooms) total_hotel_night_paid,
  sum(nights) total_num_nights,
  sum(rooms) total_num_rooms,
  avg(nights) avg_num_nights,
  avg(rooms) avg_num_rooms,
  count(hotel_per_room_night_usd) total_num_hotel_bookings,
  count(hotel_discount_amount) total_num_disc_hotel_bookings,
  round(cast(count(hotel_discount_amount)/count(hotel_per_room_night_usd)::float * 100 as numeric), 2) perc_disc_bookings,
  avg(actual_hotel_per_room_usd) average_room_price,
  coalesce(avg(hotel_discount_amount), 0) avg_hotel_discount,
  avg(time_before_hotel_stay)/(3600 * 24) avg_time_before_hotel_stay
from
base_sessions
where trip_id not in (select trip_id from cancelled_trips)
and hotel_per_room_night_usd is not null
group by user_id
order by count(hotel_discount_amount) desc
),

users_impr as
(
select user_id,	birthdate, round((current_date - birthdate)/365.0) user_age,
 (current_date - sign_up_date) days_with_company,
 gender,
 married,
 has_children,
 home_country,
 home_city,
 home_airport,
 home_airport_lat,
 home_airport_lon,
 sign_up_date
from users
),

users_cte as
(
  select user_id,	birthdate, user_age,
case
when user_age between 16 and 24 then '16 - 24'
when user_age between 25 and 34 then '25 - 34'
when user_age between 35 and 44 then '35 - 44'
when user_age between 45 and 54 then '45 - 54'
when user_age between 55 and 64 then '55 - 64'
else 'over 64'
end age_group,
 (current_date - sign_up_date) days_with_company,
 gender,
 married,
 has_children,
 home_country,
 home_city,
 home_airport,
 home_airport_lat,
 home_airport_lon,
 sign_up_date
from users_impr
  ),

recency_table as
(
  select user_id,
  date_part('day', '2023-08-28' - max(session_end)) recency
  from base_sessions
  group by user_id
),

users_base as
(
select
users_cte.*,
num_sessions,
num_clicks,
average_num_clicks,
total_session_time,
average_duration,
num_disc_sessions,
coalesce(total_flight_price_paid, 0) total_flight_price_paid,
coalesce(avg_flight_price_paid, 0) avg_flight_price_paid,
coalesce(total_num_seats, 0) total_num_seats,
coalesce(avg_num_checked_bags, 0) avg_num_checked_bags,
coalesce(avg_num_seats, 0) avg_num_seats,
coalesce(total_num_flights, 0) total_num_flights,
coalesce(total_num_disc_flights, 0) total_num_disc_flights,
coalesce(perc_disc_flights, 0) perc_disc_flights,
coalesce(avg_flight_discount, 0) avg_flight_discount,
coalesce(avg_time_before_travel, 0) avg_time_before_travel,
coalesce(total_hotel_night_paid, 0)total_hotel_night_paid,
coalesce(total_num_nights, 0) total_num_nights,
coalesce(avg_num_nights, 0) avg_num_nights,
coalesce(avg_num_rooms, 0) avg_num_rooms,
coalesce(total_num_rooms, 0) total_num_rooms,
coalesce(total_num_hotel_bookings, 0) total_num_hotel_bookings,
coalesce(total_num_disc_hotel_bookings, 0) total_num_disc_hotel_bookings,
coalesce(perc_disc_bookings, 0) perc_disc_bookings,
coalesce(average_room_price, 0) average_room_price,
coalesce(avg_time_before_hotel_stay, 0) avg_time_before_hotel_stay,
coalesce(recency, 0) days_from_last_session,
(coalesce(total_flight_price_paid, 0) + coalesce(total_hotel_night_paid, 0))total_spend,
coalesce(num_completed_trips, 0) total_num_trips,
coalesce(num_disc_trips, 0) num_disc_trips,
coalesce(perc_disc_trips, 0) perc_disc_trips
from users_cte
inner join
sessions_details_per_user
on users_cte.user_id = sessions_details_per_user.user_id
left join trips_per_user
on trips_per_user.user_id = users_cte.user_id
left join flights_details_per_user
on flights_details_per_user.user_id = users_cte.user_id
left join hotel_bookings_per_user
on users_cte.user_id = hotel_bookings_per_user.user_id
left join recency_table
on sessions_details_per_user.user_id = recency_table.user_id
),

users_base_rfm_score as
(
select *,
  ntile(3) over (order by days_from_last_session desc) recency,
  ntile(3) over (order by total_num_trips) frequency,
  ntile(3) over (order by total_spend) monetary
  from users_base
),

users_base_overall_rfm_score as
(
select *,
concat(recency, frequency, monetary)::integer rfm
from users_base_rfm_score
),

segmentation as
(
select *,
case
 when (rfm in (311, 312, 311) and total_num_trips > 0)
 then 'new travelers'


 when (rfm in (111, 121, 131, 122, 133, 113, 112, 132) and total_num_trips > 0)
 then 'lost travelers'


 when (total_num_trips > 0 and rfm in (212, 123, 221, 211)) then 'regular travelers'

 when (total_num_trips > 0 and rfm in (223, 222, 213, 322, 231, 232, 321, 331)) then 'loyal travelers'

 when (total_num_trips > 0 and rfm in (333, 332, 313, 323, 233)) then 'top  travelers'

 when total_num_trips = 0 then 'potential travelers'
 end cust_category
 from users_base_overall_rfm_score
)

select *,
coalesce
(
case
when cust_category = 'top  travelers' and avg_num_checked_bags <= 1 and avg_num_nights <= 3
and  total_num_flights > 0 then 'top business traveller - seat upgrade'
when cust_category = 'top  travelers' and avg_num_checked_bags <= 1 and avg_num_nights <= 3
and  total_num_flights = 0 then 'top business traveller - room upgrade'
when cust_category = 'top  travelers' and user_age < 45 and married = true and has_children = true
and total_num_flights > 0 then 'top family traveler - free plane ticket cancellation'
when cust_category = 'top  travelers' and user_age < 45 and married = true and has_children = true
and total_num_flights = 0 then 'top family traveler - free hotel cancellation'
when cust_category = 'top  travelers' and user_age > 64 then 'free theater tickets'
when cust_category = 'top  travelers' then 'top traveler - free 1 hotel night'
else null
end,
case
when cust_category = 'loyal travelers' and avg_num_checked_bags <= 1 and avg_num_nights <= 3
and  total_num_flights > 0 then 'loyal business traveller - airport lounge access'
when cust_category = 'loyal travelers' and avg_num_checked_bags <= 1 and avg_num_nights <= 3
and  total_num_flights = 0 then 'loyal business traveller - free taxi service'
when cust_category = 'loyal travelers' and user_age < 45 and married = true and has_children = true
and total_num_flights > 0 then 'loyal family traveler - up to 2 free bags'
when cust_category = 'loyal travelers' and user_age < 45 and married = true and has_children = true
and total_num_flights = 0 then 'loyal family traveler - free room service'
when cust_category = 'loyal travelers' and user_age > 64 then 'loyal senior traveler - free gallery/museum tickets'
when cust_category = 'loyal travelers' then 'loyal traveler - free spa visit'
else null
end,
case
when cust_category = 'regular travelers' and avg_num_checked_bags <= 1 and avg_num_nights <= 3
and  total_num_flights > 0 then 'regular business traveller - free airport pickup'
when cust_category = 'regular travelers' and avg_num_checked_bags <= 1 and avg_num_nights <= 3
and  total_num_flights = 0 then 'regular business traveller - free dinner'
when cust_category = 'regular travelers' and user_age < 45 and married = true and has_children = true
and total_num_flights > 0 then 'regular family traveler - 1 free bags'
when cust_category = 'regular travelers' and user_age < 45 and married = true and has_children = true
and total_num_flights = 0 then 'loyal family traveler - free meal for family'
when cust_category = 'regular travelers' and user_age > 64 then 'loyal senior traveler - airport/hotel assistance'
when cust_category = 'regular travelers' then 'regular traveler - complimentary meal'
else null
end,
case
when cust_category = 'new travelers' and avg_num_checked_bags <= 1 and avg_num_nights <= 3
and  total_num_flights > 0 then 'new business traveller - priority check-in'
when cust_category = 'new travelers' and avg_num_checked_bags <= 1 and avg_num_nights <= 3
and  total_num_flights = 0 then 'new business traveller - free bottle of wine'
when cust_category = 'new travelers' and user_age < 45 and married = true and has_children = true
and total_num_flights > 0 then 'new family traveler - free tickets to a family show'
when cust_category = 'new travelers' and user_age < 45 and married = true and has_children = true
and total_num_flights = 0 then 'new family traveler - a gift bag'
when cust_category = 'new travelers' and user_age > 64 then 'new senior traveler - complimentary meal'
when cust_category = 'new travelers' then 'new traveler - 10% discount'
else null
end,
case
when cust_category = 'lost travelers' then '20% discount' else null end,
case when cust_category = 'potential travelers' then '25% discount'else null end
) perks
from segmentation
"""

In [ ]:
perks = pd.read_sql(sa.text(query),connection)
perks

,user_id,birthdate,user_age,age_group,days_with_company,gender,married,has_children,home_country,home_city,...,total_spend,total_num_trips,num_disc_trips,perc_disc_trips,recency,frequency,monetary,rfm,cust_category,perks
0,537121,1969-08-28,55.0,55 - 64,539,F,True,False,usa,san diego,...,586.880,1,1,1.0,1,1,1,111,lost travelers,20% discount
1,508964,1998-04-21,26.0,25 - 34,552,F,True,True,usa,newark,...,0.000,0,0,0.0,1,1,1,111,potential travelers,25% discount
2,510270,1977-04-11,47.0,45 - 54,552,F,True,True,usa,columbus,...,1572.580,1,0,0.0,1,1,2,112,lost travelers,20% discount
3,515198,1985-03-14,39.0,35 - 44,549,F,False,False,canada,toronto,...,3096.000,1,1,1.0,1,1,2,112,lost travelers,20% discount
4,524940,1998-01-11,27.0,25 - 34,545,F,True,True,usa,houston,...,2468.000,1,0,0.0,1,1,2,112,lost travelers,20% discount
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5993,482548,1995-06-04,29.0,25 - 34,566,F,False,True,usa,houston,...,2263.520,3,0,0.0,3,2,2,322,loyal travelers,loyal traveler - free spa visit
5994,584115,1987-11-01,37.0,35 - 44,516,F,False,True,usa,houston,...,1166.000,2,1,0.5,3,1,1,311,new travelers,new traveler - 10% discount
5995,667718,1986-03-02,38.0,35 - 44,481,F,False,False,usa,nashville,...,1761.013,2,1,0.5,3,2,2,322,loyal travelers,loyal business traveller - airport lounge access
5996,204943,1982-12-20,42.0,35 - 44,764,M,False,False,canada,ottawa,...,8019.856,5,1,0.2,3,3,3,333,top travelers,top traveler - free 1 hotel night
5997,653838,1961-09-23,63.0,55 - 64,486,F,True,False,canada,montreal,...,562.990,2,0,0.0,3,1,1,311,new travelers,new business traveller - priority check-in